@model UserPreferencesViewModel

@{
    ViewData["Title"] = "ConfirmUserPreferences";
}

<div class="container">
    <div class="centered">

        <h1>ViewUserPreferences</h1>

        <form asp-controller="User" asp-action="ViewPlan">
            <h2>Diets</h2>
            Gluten-Free: @Model.GlutenFree<br />
            Ketogenic: @Model.Ketogenic<br />
            Vegetarian: @Model.Vegetarian<br />
            Lacto-Vegetarian: @Model.LactoVegetarian<br />
            Ovo-Vegetarian: @Model.OvoVegetarian<br />
            Vegan: @Model.Vegan<br />
            Pescetarian: @Model.Pescetarian<br />
            Paleo: @Model.Paleo<br />
            Primal: @Model.Primal<br />
            Whole30: @Model.Whole30<br />

            <h2>Intolerances</h2>
            Dairy: @Model.Dairy<br />
            Egg: @Model.Egg<br />
            Gluten: @Model.Gluten<br />
            Grain: @Model.Grain<br />
            Peanut: @Model.Peanut<br />
            Seafood: @Model.Seafood<br />
            Sesame: @Model.Sesame<br />
            Shellfish: @Model.Shellfish<br />
            Soy: @Model.Soy<br />
            Sulfite: @Model.Sulfite<br />
            Tree Nut: @Model.TreeNut<br />
            Wheat: @Model.Wheat<br />
            Excluded Ingredients: @Model.ExcludedIngredients<br />

            <button type="submit" class="btn btn-outline-secondary btn-sm">Get Recipes!</button>
        </form>
    </div>
</div>