@model UserPreferencesViewModel

@{
    ViewData["Title"] = "ConfirmUserPreferences";
}

<div class="container">
    <div class="centered">

        <h3>ViewUserPreferences</h3>

        <form asp-controller="User" asp-action="ViewPlan">
            <h5>Diets</h5>
            <table id="userTable" class="preferences-row">
                <tr class="row-after">
                    <td>Gluten-Free: @Model.GlutenFree</td>
                    <td>Ketogenic: @Model.Ketogenic</td>
                    <td>Vegetarian: @Model.Vegetarian</td>
                    <td>Lacto-Vegetarian: @Model.LactoVegetarian</td>
                    <td>Ovo-Vegetarian: @Model.OvoVegetarian</td>
                </tr>
                <tr>
                    <td>Vegan: @Model.Vegan</td>
                    <td>Pescetarian: @Model.Pescetarian</td>
                    <td>Paleo: @Model.Paleo</td>
                    <td>Primal: @Model.Primal</td>
                    <td>Whole30: @Model.Whole30</td>
                </tr>
               
            </table>

            <h5>Intolerances</h5>
            <table id="userTable">
                <tr>
                    <td>Dairy: @Model.Dairy</td>
                    <td>Egg: @Model.Egg</td>
                </tr>
                <tr>
                    <td>Gluten: @Model.Gluten</td>
                    <td>Grain: @Model.Grain</td>
                </tr>
                <tr>
                    <td>Peanut: @Model.Peanut</td>
                    <td>Seafood: @Model.Seafood</td>
                </tr>
                <tr>
                    <td>Sesame: @Model.Sesame</td>
                    <td>Shellfish: @Model.Shellfish</td>
                </tr>
                <tr>
                    <td>Soy: @Model.Soy</td>
                    <td>Sulfite: @Model.Sulfite</td>
                </tr>
                <tr>
                    <td>Tree Nut: @Model.TreeNut</td>
                    <td>Wheat: @Model.Wheat</td>
                </tr>
            </table>
            @*<h4>Diets</h4>
            Gluten-Free: @Model.GlutenFree<br />
            Ketogenic: @Model.Ketogenic<br />
            Vegetarian: @Model.Vegetarian<br />
            Lacto-Vegetarian: @Model.LactoVegetarian<br />
            Ovo-Vegetarian: @Model.OvoVegetarian<br />
            Vegan: @Model.Vegan<br />
            Pescetarian: @Model.Pescetarian<br />
            Paleo: @Model.Paleo<br />
            Primal: @Model.Primal<br />
            Whole30: @Model.Whole30<br />*@

            @*<h4>Intolerances</h4>
            Dairy: @Model.Dairy<br />
            Egg: @Model.Egg<br />
            Gluten: @Model.Gluten<br />
            Grain: @Model.Grain<br />
            Peanut: @Model.Peanut<br />
            Seafood: @Model.Seafood<br />
            Sesame: @Model.Sesame<br />
            Shellfish: @Model.Shellfish<br />
            Soy: @Model.Soy<br />
            Sulfite: @Model.Sulfite<br />
            Tree Nut: @Model.TreeNut<br />
            Wheat: @Model.Wheat<br />*@
            Excluded Ingredients: @Model.ExcludedIngredients<br />

            <button type="submit" class="btn btn-outline-secondary btn-sm">Get Recipes!</button>
        </form>
    </div>
</div>