@model AHBCFinalProject.Models.FavoriteMealsViewModel

@{
    ViewData["Title"] = "FavoriteMealsView";
}

<h1>FavoriteMealsView</h1>

<div>
    <table class="table table-light table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                @if (Model.FavoriteMeals.Count > 0)
                 {
                    @foreach (var item in Model.FavoriteMeals)
                    {
                        <td>@item.MealName</td>
                        <td>@item.Type</td>
                        <td>@item.AdditionalComments</td>
                    }
                }
            </tr>
        </thead>
    </table>
</div>


            @*<li>
                <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@item.RecipeID">@item.MealName</a>
                <h3>@item.AdditionalComments</h3>
                <a asp-controller="User" asp-action="DeleteAFavoriteMeal" asp-route-id="@item.RecipeID">Delete Item</a>
            </li>*@