@model ViewFavoriteMealViewModel

@{
    ViewData["Title"] = "UpdateFavoriteMeal";
}

<h1>@Model.Title</h1>

<img src="@Model.Image" />

<ul>
    @foreach (var ingredient in Model.ExtendedIngredients)
    {
        <li>@ingredient.OriginalName</li>
    }
</ul>

<ul>
    <li>Servings: @Model.Servings</li>
    <li>HealthScore: @Model.HealthScore</li>
</ul>

<p asp-for="@Model.Instructions">@Model.Instructions</p>

<label>Additional Comments:</label>
<form>
    <input type="text" value="@Model.AdditionalComments" asp-for="@Model.AdditionalComments"/>

    <button type="submit" asp-controller="User" asp-action="UpdateFavoriteMealResults" asp-route-id="@Model.Id" >Save Comments</button>

</form>