@model UserPreferencesViewModel

@{
    ViewData["Title"] = "ViewUserPreferences";
}

<div class="container">
    <div class="centered">

        <h2>User Preferences</h2>

        <h5>Diets</h5>
        <table id="userTable">
            <tr>
                <td>Gluten-Free: @Model.GlutenFree</td>
                <td>Ketogenic: @Model.Ketogenic</td>
            </tr>
            <tr>
                <td>Vegetarian: @Model.Vegetarian</td>
                <td>Lacto-Vegetarian: @Model.LactoVegetarian</td>
            </tr>
            <tr>
                <td>Ovo-Vegetarian: @Model.OvoVegetarian</td>
                <td>Vegan: @Model.Vegan</td>
            </tr>
            <tr>
                <td>Pescetarian: @Model.Pescetarian</td>
                <td>Paleo: @Model.Paleo</td>
            </tr>
            <tr>
                <td>Primal: @Model.Primal</td>
                <td>Whole30: @Model.Whole30</td>
            </tr>
        </table>

        <h5>Intolerances</h5>
        <table id="userTable">
            <tr>
                <td>Dairy: @Model.Dairy</td>
                <td>Egg: @Model.Egg</td>
            </tr>
            <tr>
                <td>Gluten: @Model.Gluten</td>
                <td>Grain: @Model.Grain</td>
            </tr>
            <tr>
                <td>Peanut: @Model.Peanut</td>
                <td>Seafood: @Model.Seafood</td>
            </tr>
            <tr>
                <td>Sesame: @Model.Sesame</td>
                <td>Shellfish: @Model.Shellfish</td>
            </tr>
            <tr>
                <td>Soy: @Model.Soy</td>
                <td>Sulfite: @Model.Sulfite</td>
            </tr>
            <tr>
                <td>Tree Nut: @Model.TreeNut</td>
                <td>Wheat: @Model.Wheat</td>
            </tr>
        </table>

        <br />
        Excluded Ingredients: @Model.ExcludedIngredients
        <br />

        <a asp-controller="User" asp-action="Update
               UserPreferences" asp-route-id="@Model.UserId">
            <button type="submit" class="btn btn-outline-secondary btn-sm">Update User Preferences</button>
        </a>
    </div>
</div>