@model MPsViewModel

@{
    ViewData["Title"] = "ViewMealPlanResults";
}

<h1>Results</h1>


<div>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var weeklyPlan in Model.MealPlans)
            {
                <tr>

                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@weeklyPlan.SundayId">@weeklyPlan.SundayName</a>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-mondayid="@weeklyPlan.MondayId">@weeklyPlan.MondayName</a>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-tuesdayid="@weeklyPlan.TuesdayId">@weeklyPlan.TuesdayName</a>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-wednesdayid="@weeklyPlan.WednesdayId">@weeklyPlan.WednesdayName</a>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-thursdayid="@weeklyPlan.ThursdayId">@weeklyPlan.ThursdayName</a>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-fridayid="@weeklyPlan.FridayId">@weeklyPlan.FridayName</a>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-saturdayid="@weeklyPlan.SaturdayId">@weeklyPlan.SaturdayName</a>


                    </td>


                </tr>
            }
        </tbody>
    </table>


</div>

