@model AHBCFinalProject.Models.ViewPlanViewModel

@{
    ViewData["Title"] = "ViewPlan";
}

<h1>FavoriteMealsView</h1>

<div>
    <label>Sunday:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.SundayId">@Model.SundayName</a>

    <label>Monday:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.MondayId">@Model.MondayName</a>

    <label asp-for="@Model.TuesdayName">Tuesday:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.TuesdayId">@Model.TuesdayName</a>

    <label asp-for="@Model.WednesdayName">Wednesday:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.WednesdayId">@Model.WednesdayName</a>

    <label asp-for="@Model.ThursdayName">Thursday:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.ThursdayId">@Model.ThursdayName</a>

    <label asp-for="@Model.FridayName">Friday:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.FridayId">@Model.FridayName</a>

    <label asp-for="@Model.SaturdayName">Saturday:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.SaturdayId">@Model.SaturdayName</a>

</div>

