@model AHBCFinalProject.Models.ViewPlanViewModel

@{
    ViewData["Title"] = "ViewPlan";
}

<h1>FavoriteMealsView</h1>

<div>
    <label asp-for="@Model.SundayName">:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.SundayId"></a>

    <label asp-for="@Model.MondayName">:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.MondayId"></a>

    <label asp-for="@Model.TuesdayName">:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.TuesdayId"></a>

    <label asp-for="@Model.WednesdayName">:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.WednesdayId"></a>

    <label asp-for="@Model.ThursdayName">:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.ThursdayId"></a>

    <label asp-for="@Model.FridayName">:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.FridayId"></a>

    <label asp-for="@Model.SaturdayName">:</label>
    <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-sundayid="@Model.SaturdayId"></a>

</div>

