@model ViewFavoriteMealViewModel
@{
    ViewData["Title"] = "ViewFavoriteMeal";
}

<h1>@Model.Title</h1>

<img src="@Model.Image" />

<ul>
    @foreach (var ingredient in Model.ExtendedIngredients)
    {
        <li>@ingredient.OriginalName</li>
    }
</ul>

<ul>
    <li>Servings: @Model.Servings</li>
    <li>HealthScore: @Model.HealthScore</li>
</ul>

<p asp-for="@Model.Instructions">@Model.Instructions</p>

<label>Additional Comments:</label>
<p>@Model.AdditionalComments</p>

<a asp-controller="User" asp-action="UpdateFavoriteMeal" asp-route-id="@Model.Id">Edit Additional Comments</a>

<a asp-controller="User" asp-action="DeleteFavoriteMeal" asp-route-id="@Model.Id">Delete from Favorites</a>

