@model MPsViewModel

@{
    ViewData["Title"] = "ViewMealPlanResults";
}

<h1>Results</h1>


<div>
    <table>
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                               
            </tr>
        </thead>
        <tbody>
            @foreach (var weeklyPlan in Model.MealPlans)
            {
                <tr>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@weeklyPlan.SundayId">@weeklyPlan.SundayName</a>
                    </td>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@weeklyPlan.MondayId">@weeklyPlan.MondayName</a>
                    </td>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@weeklyPlan.TuesdayId">@weeklyPlan.TuesdayName</a>
                    </td>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@weeklyPlan.WednesdayId">@weeklyPlan.WednesdayName</a>
                    </td>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@weeklyPlan.ThursdayId">@weeklyPlan.ThursdayName</a>
                    </td>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@weeklyPlan.FridayId">@weeklyPlan.FridayName</a>
                    </td>
                    <td>
                        <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@weeklyPlan.SaturdayId">@weeklyPlan.SaturdayName</a>                        
                    </td>


                </tr>
            }
        </tbody>
    </table>


</div>

