@model RecipeViewModel

@{
    ViewData["Title"] = "ViewRecipe";
}



<div class="container">
      
    <h3>@Model.Title</h3>
    
    <div class="recipe-ingredients">
        <div class="col-auto">
            <h4 class="ingredients-header">Ingredients</h4>
            @*<ul style="list-style: none; margin:0; padding:0">*@
            <ul class="text-left" style="list-style: none">
                @foreach (var ingredient in Model.ExtendedIngredients)
                {
                    <li>@ingredient.Amount @ingredient.Unit @ingredient.OriginalName</li>
                }
            </ul>
            <div class="recipe-img">
                <figure class="figure">
                    <img src="@Model.Image" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption"></figcaption>
                </figure>
            </div>
        </div>
        <div class="recipe-instructions offset-1">
            <h4>Instructions</h4>
            <p>@Model.Instructions</p>
        </div>
    </div>
    <a class="btn btn-outline-secondary" asp-controller="User" asp-action="AddToFavorites" role="button" asp-route-id="@Model.Id">Add To Favorites<br /></a>

</div>



